body {
    padding: 0;
    margin: 0;
    background: red;
    font-family: Arial, serif;
}

.prototype-example {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/exercise.png);
    width: 1332px;
    height: 2367px;
}

.prototype {
    background: blue;
    width: 1332px;
    height: 2367px;
    opacity: 0.3;
    position: relative;
}
.header-wrapper {
    background: red;
    height: 120px;
    overflow: hidden;
}
.header {
    width: 72%;

    background: black;
    margin: 0 auto;
    display: table;
}
.logo {
    width: 190px;
    height: 120px;
    background: aquamarine;
    display: table-cell;
    vertical-align: middle;
}
.logo__image {
    
}
.menu {
    

    display: table-cell;

    vertical-align: middle;

    text-align: end;
    color: white;
    font-size: 13px;
    padding: 0;
    padding-right: 7px;
}
.menu__item {
    display: inline;

    margin: 0px 13px;
}
.login-container {
    
    

    display: table-cell;

    width: 184px;
    vertical-align: middle;
    background: aliceblue;
    padding: 0;
    font-size: 13px;
}
.login-container__login {
    display: inline-block;

    padding: 10px 17px;
    margin: 4px;
}
.login-container__singup {
    display: inline-block;

    background: green;
    padding: 10px 17px;
    margin: 4px;
    border-radius: 3px;
}
.article-wrapper {
    background: yellow;

    width: 72%;
    margin: 0 auto;
    /* position: relative; */
}
.article-wrapper__clear {
    clear: both;
}
.article {
    background: antiquewhite;
    margin-right: 240px;

    padding: 36px 10px 10px 10px;
    box-sizing: border-box;
}
.article__header {
    font-size: 28px;

    font-weight: bold;
    line-height: 34px;
}
.article__extra {
    font-size: 15px;

    line-height: 26px;
}
.article__by {
    color: green;

    cursor: pointer;
}
.article__date {

}
.article__comments {
    color: green;

}
.article__promo {
    background: red;

    height: 292px;
    margin-top: 20px;
}
.article__text {
    font-size: 15px;

    line-height: 25px;
}
.article__paragraph {
    margin: 18px 0;

}
.aside-container {
    float: right;

    background: aquamarine;
    width: 240px;
    padding: 48px 10px 10px 10px;
    box-sizing: border-box;
}
.categories {

    margin-bottom: 32px;
}
.categories__header {
    font-size: 20px;

    font-weight: bold;
    margin-bottom: 16px;
}
.category {
    margin: 11px 0px;

}
.text-widget {
    margin-bottom: 32px;

}
.text-widget__header {
    font-size: 20px;   font-weight: bold;   margin-bottom: 16px;

}
.text-widget__paragraph {
    font-size: 15px;
    
    line-height: 22px;
}
.archives {

}
.archives__header {
    font-size: 20px;   font-weight: bold;   margin-bottom: 16px;

}
.archives__monthyear {
    margin: 11px 0;

}
.comments-wrapper {
    width: 100%;

    /* padding-right: 300px; */
    background: red;
}
.comments-container-section {
    /* width: 100%; */

    margin-right: 240px;
    padding: 10px;
    box-sizing: border-box;
    background: darksalmon;
}
.comments-container-section__count {
    font-size: 20px;

    line-height: 64px;
    font-weight: bold;
}
.comments-form-container {

}
.contents-form {
    max-width: 700px;

    background: beige;
}
.contents-form__full-name {
    background: red;

    height: 43px;
    width: 48%;
    border: 1px solid black;
    border-radius: 2px;
    float: left;
    margin-bottom: 15px;
}
.contents-form__email {
    background: red;   height: 43px;   width: 48%;   border: 1px solid black;   border-radius: 2px;   
    float: right;

    margin-bottom: 15px;
}
.contents-form__message {
    background: red;   
    height: 114px;      border: 1px solid black;   border-radius: 2px;   

    clear: both;
    margin-bottom: 15px;
}
.contents-form__submit {
    float: right;

    width: 240px;
    height: 60px;
    background: green;
    text-align: center;
    color: white;
    font-size: 21px;
    border-radius: 3px;
    line-height: 60px;
}
.contents-form__clear {
    clear: both;
    
}
.comments-container {
    /* background: aquamarine; */

    height: 456px;
}
.comment {
    background: aqua;

    margin: 1px 0;
    /* height: 178px; */
    padding-left: 78px;
    position: relative;
    padding-top: 37px;
    box-sizing: border-box;
}
.comment_level-0 {

}
.comment_level-1 {
    margin-left: 20px;

}
.comment__avatar {
    position: absolute;

    width: 79px;
    height: 100%;
    left: 0;
}
.comment__profile-image {
    /* margin-top: 0px; */

    width: 60px;
    background: red;
    height: 60px;
}
.comment__full-name {
    font-size: 20px;

    margin-bottom: 4px;
}
.comment__message {
    line-height: 24px;

    margin-bottom: 4px;
}
.comment__time {
    display: inline-block;

    font-size: 13px;
}
.comment__reply {
    display: inline-block;

    font-size: 13px;
    color: green;
    cursor: pointer;
}
.comment__clear {
    clear: both;
}
.footer-wrapper {
    height: 295px;

    background: red;
}
.footer {

}