/* ../../desktop.blocks/main/main.styl:begin */
.main {
  font-family: Arial, serif;
  font-size: 16px;
}
/* ../../desktop.blocks/main/main.styl:end */
/* ../../desktop.blocks/header-wrapper/header-wrapper.styl:begin */
.header-wrapper {
  height: 120px;
  overflow: hidden;
  background: #363f48;
}
/* ../../desktop.blocks/header-wrapper/header-wrapper.styl:end */
/* ../../desktop.blocks/header/header.styl:begin */
.header {
  width: 72%;
  margin: 0 auto;
  display: table;
  max-width: 1000px;
}
/* ../../desktop.blocks/header/header.styl:end */
/* ../../desktop.blocks/logo/logo.styl:begin */
.logo {
  width: 190px;
  height: 120px;
  display: table-cell;
  vertical-align: middle;
}
/* ../../desktop.blocks/logo/logo.styl:end */
/* ../../desktop.blocks/logo/__image/logo__image.styl:begin */
.logo__image {
  width: 173px;
  height: 50px;
  margin-left: 10px;
}
/* ../../desktop.blocks/logo/__image/logo__image.styl:end */
/* ../../desktop.blocks/menu/menu.styl:begin */
.menu {
  display: table-cell;
  vertical-align: middle;
  text-align: end;
  color: #fff;
  font-size: 13px;
  padding: 0 7px 0 0;
}
/* ../../desktop.blocks/menu/menu.styl:end */
/* ../../desktop.blocks/menu/__item/menu__item.styl:begin */
.menu__item {
  display: inline;
  cursor: pointer;
  margin: 0 13px;
}
/* ../../desktop.blocks/menu/__item/menu__item.styl:end */
/* ../../desktop.blocks/login-container/login-container.styl:begin */
.login-container {
  display: table-cell;
  width: 184px;
  vertical-align: middle;
  font-size: 13px;
}
/* ../../desktop.blocks/login-container/login-container.styl:end */
/* ../../desktop.blocks/login-container/__login/login-container__login.styl:begin */
.login-container__login {
  display: inline-block;
  color: #d3d3d3;
  padding: 10px 17px;
  cursor: pointer;
  margin: 4px;
}
/* ../../desktop.blocks/login-container/__login/login-container__login.styl:end */
/* ../../desktop.blocks/login-container/__singup/login-container__singup.styl:begin */
.login-container__singup {
  display: inline-block;
  color: #fff;
  padding: 10px 17px;
  cursor: pointer;
  background: #008000;
  margin: 4px;
  border-radius: 3px;
}
/* ../../desktop.blocks/login-container/__singup/login-container__singup.styl:end */
/* ../../desktop.blocks/article-wrapper/article-wrapper.styl:begin */
.article-wrapper {
  width: 72%;
  margin: 0 auto;
  max-width: 1000px;
}
/* ../../desktop.blocks/article-wrapper/article-wrapper.styl:end */
/* ../../desktop.blocks/aside-container/aside-container.styl:begin */
.aside-container {
  float: right;
  width: 240px;
  padding: 48px 10px 10px 10px;
  box-sizing: border-box;
}
/* ../../desktop.blocks/aside-container/aside-container.styl:end */
/* ../../desktop.blocks/categories/categories.styl:begin */
.categories {
  margin-bottom: 32px;
}
/* ../../desktop.blocks/categories/categories.styl:end */
/* ../../desktop.blocks/categories/__header/categories__header.styl:begin */
.categories__header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
/* ../../desktop.blocks/categories/__header/categories__header.styl:end */
/* ../../desktop.blocks/category/category.styl:begin */
.category {
  margin: 11px 0;
}
/* ../../desktop.blocks/category/category.styl:end */
/* ../../desktop.blocks/text-widget/text-widget.styl:begin */
.text-widget {
  margin-bottom: 32px;
}
/* ../../desktop.blocks/text-widget/text-widget.styl:end */
/* ../../desktop.blocks/text-widget/__header/text-widget__header.styl:begin */
.text-widget__header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
/* ../../desktop.blocks/text-widget/__header/text-widget__header.styl:end */
/* ../../desktop.blocks/text-widget/__paragraph/text-widget__paragraph.styl:begin */
.text-widget__paragraph {
  font-size: 16px;
  line-height: 22px;
}
/* ../../desktop.blocks/text-widget/__paragraph/text-widget__paragraph.styl:end */
/* ../../desktop.blocks/archives/archives.styl:begin */
/* ../../desktop.blocks/archives/archives.styl:end */
/* ../../desktop.blocks/archives/__header/archives__header.styl:begin */
.archives__header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
/* ../../desktop.blocks/archives/__header/archives__header.styl:end */
/* ../../desktop.blocks/archives/__monthyear/archives__monthyear.styl:begin */
.archives__monthyear {
  margin: 11px 0;
}
/* ../../desktop.blocks/archives/__monthyear/archives__monthyear.styl:end */
/* ../../desktop.blocks/article/article.styl:begin */
.article {
  margin-right: 240px;
  padding: 36px 10px 10px 10px;
  box-sizing: border-box;
}
/* ../../desktop.blocks/article/article.styl:end */
/* ../../desktop.blocks/article/__header/article__header.styl:begin */
.article__header {
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
}
/* ../../desktop.blocks/article/__header/article__header.styl:end */
/* ../../desktop.blocks/article/__extra/article__extra.styl:begin */
.article__extra {
  font-size: 15px;
  line-height: 26px;
}
/* ../../desktop.blocks/article/__extra/article__extra.styl:end */
/* ../../desktop.blocks/article/__by/article__by.styl:begin */
.article__by {
  cursor: pointer;
  color: #008000;
}
/* ../../desktop.blocks/article/__by/article__by.styl:end */
/* ../../desktop.blocks/article/__date/article__date.styl:begin */
/* ../../desktop.blocks/article/__date/article__date.styl:end */
/* ../../desktop.blocks/article/__comments/article__comments.styl:begin */
.article__comments {
  color: #008000;
}
/* ../../desktop.blocks/article/__comments/article__comments.styl:end */
/* ../../desktop.blocks/article/__promo/article__promo.styl:begin */
.article__promo {
  height: 292px;
  background: #808080;
  margin-top: 20px;
}
/* ../../desktop.blocks/article/__promo/article__promo.styl:end */
/* ../../desktop.blocks/article/__text/article__text.styl:begin */
.article__text {
  font-size: 15px;
  line-height: 25px;
}
/* ../../desktop.blocks/article/__text/article__text.styl:end */
/* ../../desktop.blocks/article/__paragraph/article__paragraph.styl:begin */
.article__paragraph {
  margin: 18px 0;
}
/* ../../desktop.blocks/article/__paragraph/article__paragraph.styl:end */
/* ../../desktop.blocks/article-wrapper/__clear/article-wrapper__clear.styl:begin */
.article-wrapper__clear {
  clear: both;
}
/* ../../desktop.blocks/article-wrapper/__clear/article-wrapper__clear.styl:end */
/* ../../desktop.blocks/comments-wrapper/comments-wrapper.styl:begin */
.comments-wrapper {
  width: 100%;
  margin-bottom: 60px;
}
/* ../../desktop.blocks/comments-wrapper/comments-wrapper.styl:end */
/* ../../desktop.blocks/comments-container-section/comments-container-section.styl:begin */
.comments-container-section {
  margin-right: 240px;
  padding: 10px;
  box-sizing: border-box;
}
/* ../../desktop.blocks/comments-container-section/comments-container-section.styl:end */
/* ../../desktop.blocks/comments-container-section/__count/comments-container-section__count.styl:begin */
.comments-container-section__count {
  font-size: 20px;
  line-height: 64px;
  font-weight: bold;
}
/* ../../desktop.blocks/comments-container-section/__count/comments-container-section__count.styl:end */
/* ../../desktop.blocks/comments-form-container/comments-form-container.styl:begin */
/* ../../desktop.blocks/comments-form-container/comments-form-container.styl:end */
/* ../../desktop.blocks/contents-form/contents-form.styl:begin */
.contents-form {
  max-width: 700px;
}
/* ../../desktop.blocks/contents-form/contents-form.styl:end */
/* ../../desktop.blocks/contents-form/__full-name/contents-form__full-name.styl:begin */
.contents-form__full-name {
  height: 43px;
  width: 48%;
  border: 1px solid #000;
  border-radius: 2px;
  float: left;
  margin-bottom: 15px;
}
/* ../../desktop.blocks/contents-form/__full-name/contents-form__full-name.styl:end */
/* ../../desktop.blocks/contents-form/__email/contents-form__email.styl:begin */
.contents-form__email {
  height: 43px;
  width: 48%;
  border: 1px solid #000;
  border-radius: 2px;
  float: right;
  margin-bottom: 15px;
}
/* ../../desktop.blocks/contents-form/__email/contents-form__email.styl:end */
/* ../../desktop.blocks/contents-form/__message/contents-form__message.styl:begin */
.contents-form__message {
  height: 114px;
  border: 1px solid #000;
  border-radius: 2px;
  clear: both;
  margin-bottom: 15px;
}
/* ../../desktop.blocks/contents-form/__message/contents-form__message.styl:end */
/* ../../desktop.blocks/contents-form/__submit/contents-form__submit.styl:begin */
.contents-form__submit {
  float: right;
  cursor: pointer;
  background: #008000;
  width: 240px;
  height: 60px;
  text-align: center;
  color: #fff;
  font-size: 21px;
  border-radius: 3px;
  line-height: 60px;
}
/* ../../desktop.blocks/contents-form/__submit/contents-form__submit.styl:end */
/* ../../desktop.blocks/contents-form/__clear/contents-form__clear.styl:begin */
.contents-form__clear {
  clear: both;
}
/* ../../desktop.blocks/contents-form/__clear/contents-form__clear.styl:end */
/* ../../desktop.blocks/comments-container/comments-container.styl:begin */
/* ../../desktop.blocks/comments-container/comments-container.styl:end */
/* ../../desktop.blocks/comment/comment.styl:begin */
.comment {
  padding-left: 78px;
  position: relative;
  padding-top: 37px;
  box-sizing: border-box;
}
/* ../../desktop.blocks/comment/comment.styl:end */
/* ../../desktop.blocks/comment/_level-0/comment_level-0.styl:begin */
/* ../../desktop.blocks/comment/_level-0/comment_level-0.styl:end */
/* ../../desktop.blocks/comment/__avatar/comment__avatar.styl:begin */
.comment__avatar {
  position: absolute;
  width: 79px;
  height: 100%;
  left: 0;
}
/* ../../desktop.blocks/comment/__avatar/comment__avatar.styl:end */
/* ../../desktop.blocks/comment/__profile-image/comment__profile-image.styl:begin */
.comment__profile-image {
  width: 60px;
  height: 60px;
}
/* ../../desktop.blocks/comment/__profile-image/comment__profile-image.styl:end */
/* ../../desktop.blocks/comment/__full-name/comment__full-name.styl:begin */
.comment__full-name {
  font-size: 20px;
  margin-bottom: 4px;
}
/* ../../desktop.blocks/comment/__full-name/comment__full-name.styl:end */
/* ../../desktop.blocks/comment/__message/comment__message.styl:begin */
.comment__message {
  line-height: 24px;
  margin-bottom: 4px;
}
/* ../../desktop.blocks/comment/__message/comment__message.styl:end */
/* ../../desktop.blocks/comment/__time/comment__time.styl:begin */
.comment__time {
  display: inline-block;
  color: #808080;
  font-size: 13px;
}
/* ../../desktop.blocks/comment/__time/comment__time.styl:end */
/* ../../desktop.blocks/comment/__reply/comment__reply.styl:begin */
.comment__reply {
  display: inline-block;
  color: #008000;
  font-size: 13px;
  cursor: pointer;
}
/* ../../desktop.blocks/comment/__reply/comment__reply.styl:end */
/* ../../desktop.blocks/comment/__clear/comment__clear.styl:begin */
.comment__clear {
  clear: both;
}
/* ../../desktop.blocks/comment/__clear/comment__clear.styl:end */
/* ../../desktop.blocks/comment/_level-1/comment_level-1.styl:begin */
.comment_level-1 {
  margin-left: 20px;
}
/* ../../desktop.blocks/comment/_level-1/comment_level-1.styl:end */
/* ../../desktop.blocks/footer-wrapper/footer-wrapper.styl:begin */
.footer-wrapper {
  background: #262e34;
  height: 295px;
}
/* ../../desktop.blocks/footer-wrapper/footer-wrapper.styl:end */
/* ../../desktop.blocks/footer/footer.styl:begin */
.footer {
  color: #fff;
  padding: 10px;
}
/* ../../desktop.blocks/footer/footer.styl:end */
/* ../../desktop.blocks/page/page.styl:begin */
.page {
  padding: 0;
  margin: 0;
}
/* ../../desktop.blocks/page/page.styl:end */
