.contents-form__submit {
    float: right;
    cursor: pointer;

    background: green;

    width: 240px;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 21px;
    border-radius: 3px;
    line-height: 60px;
}
